{% extends "_base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block content %}
<div class="faded-background animated fadeIn vertical-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4 pop-box">
        <form action="{{ url_for('new_user_set_password') }}" method="POST" name="new_user_set_password_form" class="form-signin">
          <h2 class="form-signin-heading">Set Password</h2>
          <p class="text-muted">Passwords must be at least 6 characters long and include at least one number.</p>
          {{ form.hidden_tag() }}
          {{ render_field_with_errors(form.password, class="form-control", autofocus="autofocus", placeholder="New password") }}
          {{ render_field_with_errors(form.password_confirm, class="form-control", placeholder="Confirm password") }}
          <p class="text-muted">Select your time zone. Times in the panel will reflect your chosen time zone.</p>
          {{ render_field(form.time_zone, class="form-control bottom-buffer") }}
          {{ render_field(form.submit, class="btn btn-lg btn-primary btn-block") }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% include '_render_errors.html' %}
{% endblock %}
