<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{config.COMPANY_NAME}}">

    <title>{% if self.title() %}{% block title %}{% endblock %}{% else %}User Panel{% endif %} - {{config.APP_NAME}}</title>

    {% assets "panel_css" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div id="outdated"></div>
    {% include '_navbar.html' %}
    <div class="container-fluid">
      <div class="row">
        <div class="sidebar" id="adminSideBar">
          <div class="sidebar-shadow">
            <ul class="nav nav-sidebar">
              <li><h2 class="sidebar-header">Access</h2></li>
              <li {% if url_for('user.dashboard') in request.path %}class="active"{% endif %}><a href="{{url_for('user.dashboard')}}"><span class="fa fa-fw fa-th-large" aria-hidden="true"></span> Dashboard</a></li>
              <li {% if url_for('user.public_documents_list') in request.path %}class="active"{% endif %}><a href="{{url_for('user.public_documents_list')}}"><span class="fa fa-fw fa-book" aria-hidden="true"></span> Public Reports</a></li>
              <li {% if url_for('user.documents_list') in request.path %}class="active"{% endif %}><a href="{{url_for('user.documents_list')}}"><span class="fa fa-fw fa-file" aria-hidden="true"></span> Reports</a></li>
              <li {% if url_for('user.library_list') in request.path %}class="active"{% endif %}><a href="{{url_for('user.library_list')}}"><span class="fa fa-fw fa-bookmark" aria-hidden="true"></span> My Library{% if current_user.purchases|count > 0 %} <span class="badge badge-success pull-right">{{current_user.purchases|count}}</span>{% endif %}</a></li>
              <li {% if url_for('user.subscriptions_list') in request.path %}class="active"{% endif %}><a href="{{url_for('user.subscriptions_list')}}"><span class="fa fa-fw fa-check-square-o" aria-hidden="true"></span> Subscriptions</a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><h2 class="sidebar-header">Account</h2></li>
              <li><a href="{{url_for('account')}}"><span class="fa fa-fw fa-wrench" aria-hidden="true"></span> Manage Account</a></li>
            </ul>
          </div>
        </div>
        <div class="row no-gutter">
          <div class="nav-breadcrumb">
            <ol class="breadcrumb">
              {%- if request.path == url_for('user.dashboard') -%}
              <li>Hello, {{current_user.first_name}}!</li>
              {%- else -%}
              {%- for breadcrumb in breadcrumbs -%}
              {%- if not loop.first -%}
              <li><a href="{{ breadcrumb.url }}"{% if loop.last %} class="active"{% endif %}>{{ breadcrumb.text|safe }}</a></li>
              {%- endif -%}
              {%- endfor -%}
              {%- endif -%}
            </ol>
          </div>
        </div>
        <div class="main" id="main">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

    {% include '_footer.html' %}

    {% assets "panel_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block scripts %}
    {% endblock %}
    {% include '_datatables.html' %}
    {% include '_flash.html' %}
    {% include '_analytics.html' %}
  </body>
</html>
