$fontfamily: 'Open Sans', sans-serif;
$maincolor: #333092;
$navbarcolor: #FFFFFF;
$sidebarcolor: #FFFFFF;
$sidebarhovercolor: #73C167;
$captioncolor: #FFFFFF;
$captiontextcolor: #333092;
$footercolor: #EDEDED;
$linkcolor: #73C167;
$linkhovercolor: #3D6B36;

$primary: #73C167; // default: #337ab7
$success: #73C167; // default: #5cd85c
$info:    #73C167; // default: #5bc0de
$warning: #F89E57; // default: #f0ad4e
$danger:  #d9534f; // default: #d9534f
$default: #ffffff; // default: #ffffff
