{% extends "admin/_base.html" %}
{% block title %}Sponsors{% endblock %}
{% block content %}
<div class="page-header">
    <h2>Sponsors</h2>
</div>
<div class="page-content">
    <div class="loader"><span class="fa fa-spinner fa-spin fa-5x"></span></div>
    <div class="table-responsive" id="sponsors-wrapper" style="opacity: 0">
        <table class="table table-striped table-responsive table-hover nowrap" id="sponsors-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all expand-link"></th>
                    <th class='all'>Name</th>
                    <th class='min-phone-l text-right sort-by'>Created</th>
                    <th class='min-phone-p text-right'>Programs</th>
                    <th class='all text-right no-sort'></th>
                </tr>
            </thead>
            <tbody>
            {% for sponsor in sponsors %}
                <tr>
                    <td></td>
                    <td class="info-link" data-href="{{url_for('admin.sponsor_info', sponsor_id=sponsor.sponsor_id)}}">{{sponsor.sponsor_name}}</td>
                    <td class='text-right' data-order="{{sponsor.time_created|datetime(format='sort')}}"><span data-toggle="tooltip" data-placement="top" title="{{sponsor.time_created|datetime(format='full')}}">{{sponsor.time_created|datetime}}</span></td>
                    <td class='text-right'>{{sponsor.programs|length}}</td>
                    <td class='text-right'>
                        <a href='{{url_for("admin.edit_sponsor", sponsor_id=sponsor.sponsor_id)}}' class='action-button btn btn-warning btn-xs admin'><span class="fa fa-pencil fa-lg fa-fw" aria-hidden="true"></span></a>
                        {% if not sponsor.protected %}
                        <a href='#' data-href='{{url_for("admin.del_sponsor", sponsor_id=sponsor.sponsor_id)}}' class='action-button btn btn-danger btn-xs admin' data-placement='left' data-toggle='confirmation'><span class="fa fa-trash-o fa-lg fa-fw" aria-hidden="true"></span></a>
                        {% else %}
                        <a href='#' class='btn btn-danger btn-xs disabled'><span class="fa fa-trash-o fa-lg fa-fw" aria-hidden="true"></span></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="well well-sm">
    <a href="{{url_for('admin.new_sponsor')}}" class="btn btn-success admin"><span class="fa fa-plus" aria-hidden="true"></span> New Sponsor</a>
</div>
{% endblock %}
