{% extends "admin/_base.html" %}
{% block title %}{{data.sponsor.sponsor_name}}{% endblock %}
{% block content %}
<div class="page-header">
    <div class="row">
        <div class="col-md-6">
            <h2>Sponsor Info</h2>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
                <li role="presentation"><a href="#programs" aria-controls="programs" role="tab" data-toggle="tab">Programs <span class="badge">{{data.sponsor.programs|length}}</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="info-well">
    <span class="fa-stack fa-2x pull-left role-icon">
        <i class="fa fa-square fa-stack-2x sponsor"></i>
        <i class="fa fa-suitcase fa-inverse fa-stack-1x"></i>
    </span>
    <h3 class="info-header">{{data.sponsor.sponsor_name}}<br/>
        <small>Sponsor</small>
    </h3>
</div>
<div class="page-content">
    <div class="container-fluid" role="tabpanel">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="info">
                <div class="table-responsive">
                    <table class="table table-striped table-responsive nowrap" cellspacing="0" width="100%">
                        {% if data.sponsor.time_created %}
                        <tr>
                            <th>Created on</th>
                            <td>{{data.sponsor.time_created|datetime(format='pretty')}} by {{data.sponsor.who_created or 'Admin'}}</td>
                        </tr>
                        {% endif %}
                        {% if data.sponsor.time_modified %}
                        <tr>
                            <th>Last modified</th>
                            <td>{{data.sponsor.time_modified|datetime(format='pretty')}} by {{data.sponsor.who_modified}}</td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="programs">
                <div class="table-responsive">
                    <table class="table table-striped table-responsive table-hover nowrap" id="programs-table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="expand-link"></th>
                                <th>Name</th>
                                <th class='text-right sort-by'>Created</th>
                                <th class='text-right no-sort'>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for program in data.sponsor.programs %}
                            <tr>
                                <td></td>
                                <td class="info-link" data-href="{{url_for('admin.program_info', program_id=program.program_id)}}">{{program.program_name}}</td>
                                {% if program.time_created %}
                                <td class="text-right" data-order="{{program.time_created|datetime(format='sort')}}"><span data-toggle="tooltip" data-placement="top" title="{{program.time_created|datetime(format='full')}}">{{program.time_created|datetime}}</span></td>
                                {% else %}
                                <td class="text-right"></td>
                                {% endif %}
                                <td class='text-right'><a href='{{url_for("admin.edit_program", program_id=program.program_id)}}' class='action-button btn btn-warning btn-xs'><span class="fa fa-pencil fa-lg fa-fw" aria-hidden="true"></span></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="well well-sm">
    <a href="{{url_for('admin.edit_sponsor', sponsor_id=data.sponsor.sponsor_id)}}" type="submit" class="btn btn-warning"><span class="fa fa-pencil" aria-hidden="true"></span> Edit Sponsor</a>
    <a href="#" data-href="{{url_for('admin.del_sponsor', sponsor_id=data.sponsor.sponsor_id)}}" type="submit" class="btn btn-danger" data-placement='top' data-toggle='confirmation'><span class="fa fa-trash" aria-hidden="true"></span> Delete Sponsor</a>
</div>
{% endblock %}
